.btn {
  padding: 8px 16px;
  background: #fff;
  color: #06f;
  border-radius: 8px;
  border-style: none;
}

.toggle {
  background: #ccc;
  appearance: unset;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  outline: none;
}

.toggle:checked {
  background: #acf;
}

.toggle::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #999;
  border-radius: 12px;
  display: block;
  margin-top: -4px;
  transition: transform 200ms ease-out;
}

.toggle:checked::before {
  background: #06f;
  transform: translateX(16px);
}

.form-item {
  display: flex;
  padding: 24px 8px;
  justify-content: space-between;
}

.carousel {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background: #ccc;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.image-prevnext {
  z-index: 2;
}

.touch-marker {
  position: fixed;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 128, 0.6);
  border-color: rgba(255, 0, 128, 0.9);
  border-width: 2px;
  opacity: 0;
  border-radius: 50%;
}

.appbar {
  min-height: 56px;
  display: flex;
}

.appbar__spacer {
  flex: 1;
}

.appbar__title {
  font-size: 1.2em;
}

.app {
  font-family: sans-serif;
}

.app__touch-marker {
  z-index: 2;
}
