.carousel {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background: #ccc;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.image-prevnext {
  z-index: 1;
}

.touch-marker {
  position: fixed;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 128, 0.6);
  border-color: rgba(255, 0, 128, 0.9);
  border-width: 2px;
  opacity: 0;
  border-radius: 50%;
}
